CREATE TABLE EVENTOS(
	IDEVENTO int PRIMARY KEY NOT NULL,
	EVENTO nvarchar(150) NULL,
	INICIOEVENTO datetime NULL,
	FINEVENTO datetime NULL)
GO
/****** Object:  Table TEMPORIZADORES    Script Date: 26/11/2022 13:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE TEMPORIZADORES(
	IDTIMER int PRIMARY KEY NOT NULL,
	INICIO datetime NULL,
	IDCATEGORIA int NULL,
	PAUSA bit NULL)
GO
/****** Object:  Table CATEGORIAS_TIMER    Script Date: 26/11/2022 13:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE CATEGORIAS_TIMER(
	IDCATEGORIA int PRIMARY KEY NOT NULL,
	CATEGORIA nvarchar(50) NULL,
	DURACION int NULL)
GO
/****** Object:  Table EMPRESAS    Script Date: 26/11/2022 13:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE EMPRESAS(
	IDEMPRESA int PRIMARY KEY NOT NULL,
	EMPRESA nvarchar(250) NULL,
	IMAGEN nvarchar(550) NULL)
GO
/****** Object:  Table SALAS    Script Date: 26/11/2022 13:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE SALAS(
	IDSALA int PRIMARY KEY NOT NULL,
	SALA nvarchar(250) NULL)
GO
/****** Object:  Table TIEMPOS_EMPRESAS_SALAS    Script Date: 26/11/2022 13:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE TIEMPOS_EMPRESAS_SALAS(
	UNIQUEID int PRIMARY KEY NOT NULL,
	IDTIMER int NULL,
	IDEMPRESA int NULL,
	IDSALA int NULL,
	IDEVENTO int NULL)
GO
/****** Object:  View TIEMPOS_EVENTOS    Script Date: 26/11/2022 13:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW TIEMPOS_EVENTOS
AS
select 
CAST(ROW_NUMBER() OVER(ORDER BY TIEMPOS_EMPRESAS_SALAS.IDTIMER ASC) as int) 
           AS UniqueId,
TIEMPOS_EMPRESAS_SALAS.IDEMPRESA
, TIEMPOS_EMPRESAS_SALAS.IDTIMER
, TIEMPOS_EMPRESAS_SALAS.IDSALA
, TIEMPOS_EMPRESAS_SALAS.IDEVENTO
, CATEGORIAS_TIMER.IDCATEGORIA
, TEMPORIZADORES.INICIO
, TEMPORIZADORES.PAUSA
, CATEGORIAS_TIMER.CATEGORIA
, CATEGORIAS_TIMER.DURACION
, SALAS.SALA
, eventos.EVENTO
, EVENTOS.INICIOEVENTO
, EVENTOS.FINEVENTO
, EMPRESAS.EMPRESA
, ISNULL(EMPRESAS.IMAGEN, '') as IMAGEN
from TIEMPOS_EMPRESAS_SALAS
inner join EMPRESAS
on TIEMPOS_EMPRESAS_SALAS.IDEMPRESA = EMPRESAS.IDEMPRESA
inner join TEMPORIZADORES
on TIEMPOS_EMPRESAS_SALAS.IDTIMER = TEMPORIZADORES.IDTIMER
inner join CATEGORIAS_TIMER
on TEMPORIZADORES.IDCATEGORIA = CATEGORIAS_TIMER.IDCATEGORIA
inner join SALAS
on TIEMPOS_EMPRESAS_SALAS.IDSALA = SALAS.IDSALA
inner join EVENTOS
on TIEMPOS_EMPRESAS_SALAS.IDEVENTO = EVENTOS.IDEVENTO
GO
/****** Object:  Table USUARIOS    Script Date: 26/11/2022 13:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE USUARIOS(
	IDUSUARIO int PRIMARY KEY NOT NULL,
	USERNAME nvarchar(50) NULL,
	PASS nvarchar(50) NULL)
GO
INSERT INTO CATEGORIAS_TIMER (IDCATEGORIA, CATEGORIA, DURACION) VALUES (1, N'WORK', 15)
INSERT INTO CATEGORIAS_TIMER (IDCATEGORIA, CATEGORIA, DURACION) VALUES (2, N'DESCANSO', 5)
INSERT INTO CATEGORIAS_TIMER (IDCATEGORIA, CATEGORIA, DURACION) VALUES (3, N'LARGO', 60)
GO
INSERT INTO EMPRESAS (IDEMPRESA, EMPRESA, IMAGEN) VALUES (1, N'AVANADE', N'https://www.nomaspapel.es/assets/blog/5e99714cb4a08947402795.png')
INSERT INTO EMPRESAS (IDEMPRESA, EMPRESA, IMAGEN) VALUES (2, N'ENCAMINA', N'https://www.nomaspapel.es/assets/blog/5e99714cb4a08947402795.png')
INSERT INTO EMPRESAS (IDEMPRESA, EMPRESA, IMAGEN) VALUES (3, N'INDRA', N'https://www.nomaspapel.es/assets/blog/5e99714cb4a08947402795.png')
GO
INSERT INTO EVENTOS (IDEVENTO, EVENTO, INICIOEVENTO, FINEVENTO) VALUES (1, N'FORO EMPLEO MAÑANAS', CAST(N'2023-01-18T09:00:00.000' AS DateTime), CAST(N'2023-01-18T14:30:00.000' AS DateTime))
INSERT INTO EVENTOS (IDEVENTO, EVENTO, INICIOEVENTO, FINEVENTO) VALUES (2, N'FORO EMPLEO TARDES', CAST(N'2023-01-18T16:00:00.000' AS DateTime), CAST(N'2023-01-18T20:00:00.000' AS DateTime))
GO
INSERT INTO SALAS (IDSALA, SALA) VALUES (1, N'CONFERENCIAS')
INSERT INTO SALAS (IDSALA, SALA) VALUES (2, N'DESARROLLO')
INSERT INTO SALAS (IDSALA, SALA) VALUES (3, N'SISTEMAS')
GO
INSERT INTO TEMPORIZADORES (IDTIMER, INICIO, IDCATEGORIA, PAUSA) VALUES (1, CAST(N'2023-01-18T09:00:00.000' AS DateTime), 1, 0)
INSERT INTO TEMPORIZADORES (IDTIMER, INICIO, IDCATEGORIA, PAUSA) VALUES (2, CAST(N'2023-01-18T09:15:00.000' AS DateTime), 2, 0)
INSERT INTO TEMPORIZADORES (IDTIMER, INICIO, IDCATEGORIA, PAUSA) VALUES (3, CAST(N'2023-01-18T09:20:00.000' AS DateTime), 1, 0)
GO
INSERT INTO TIEMPOS_EMPRESAS_SALAS (UNIQUEID, IDTIMER, IDEMPRESA, IDSALA, IDEVENTO) VALUES (1, 1, 2, 2, 1)
INSERT INTO TIEMPOS_EMPRESAS_SALAS (UNIQUEID, IDTIMER, IDEMPRESA, IDSALA, IDEVENTO) VALUES (2, 3, 1, 4, 1)
GO
INSERT INTO USUARIOS (IDUSUARIO, USERNAME, PASS) VALUES (1, N'JUAN', N'12345')
INSERT INTO USUARIOS (IDUSUARIO, USERNAME, PASS) VALUES (2, N'ADMIN', N'12345')
GO
ALTER TABLE TEMPORIZADORES  WITH CHECK ADD  CONSTRAINT FK_TEMPORIZADORES_CATEGORIAS_TIMER FOREIGN KEY(IDCATEGORIA)
REFERENCES CATEGORIAS_TIMER (IDCATEGORIA)
GO
ALTER TABLE TEMPORIZADORES CHECK CONSTRAINT FK_TEMPORIZADORES_CATEGORIAS_TIMER
GO
ALTER TABLE TIEMPOS_EMPRESAS_SALAS  WITH CHECK ADD  CONSTRAINT FK_TIEMPOS_EMPRESAS_SALAS_EMPRESAS FOREIGN KEY(IDEMPRESA)
REFERENCES EMPRESAS (IDEMPRESA)
GO
ALTER TABLE TIEMPOS_EMPRESAS_SALAS CHECK CONSTRAINT FK_TIEMPOS_EMPRESAS_SALAS_EMPRESAS
GO
ALTER TABLE TIEMPOS_EMPRESAS_SALAS  WITH CHECK ADD  CONSTRAINT FK_TIEMPOS_EMPRESAS_SALAS_EVENTOS FOREIGN KEY(IDEVENTO)
REFERENCES EVENTOS (IDEVENTO)
GO
ALTER TABLE TIEMPOS_EMPRESAS_SALAS CHECK CONSTRAINT FK_TIEMPOS_EMPRESAS_SALAS_EVENTOS
GO
ALTER TABLE TIEMPOS_EMPRESAS_SALAS  WITH CHECK ADD  CONSTRAINT FK_TIEMPOS_EMPRESAS_SALAS_SALAS FOREIGN KEY(IDSALA)
REFERENCES SALAS (IDSALA)
GO
ALTER TABLE TIEMPOS_EMPRESAS_SALAS CHECK CONSTRAINT FK_TIEMPOS_EMPRESAS_SALAS_SALAS
GO
ALTER TABLE TIEMPOS_EMPRESAS_SALAS  WITH CHECK ADD  CONSTRAINT FK_TIEMPOS_EMPRESAS_SALAS_TEMPORIZADORES FOREIGN KEY(IDTIMER)
REFERENCES TEMPORIZADORES (IDTIMER)
GO
ALTER TABLE TIEMPOS_EMPRESAS_SALAS CHECK CONSTRAINT FK_TIEMPOS_EMPRESAS_SALAS_TEMPORIZADORES
GO

